@import 'var';

@font-face {
    font-family: $nakheel-bold-font-family;
    src: url(../RealEstate/inc/fonts/Nakheel-TextBold.woff);
  }
@font-face {
    font-family: $francy-font-family;
    src: url(../RealEstate/inc/fonts/Francy.woff);
  }
@font-face {
    font-family: $poppins-medium-font-family;
    src: url(../RealEstate/inc/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: $poppins-light-font-family;
    src: url(../RealEstate/inc/fonts/Poppins-Light.ttf);
}