// fonts var
$nakheel-bold-font-family: 'Nakheel-bold';
$francy-font-family: 'Francy';
$poppins-font-family: 'Poppins';
$poppins-medium-font-family: 'Poppins Medium';
$poppins-light-font-family: 'Poppins Light';
$san-serif-font: 'san-serif';