@import 'fonts';
@import 'var';
@import 'header';

body{
    background-color:#fff;
    font-family: $poppins-font-family , $san-serif-font;
}

$tab-dev: 768px;
@media screen and (min-width: $tab-dev) {
    .ham-btn{
        display: none;
    }
    .mobile-nav-bar {
        display: none;
    }
    
}
@media screen and (max-width: $tab-dev) {
    .desktop-menu{
        display: hidden;
    }
    .mobile-nav-bar-active{
        height:80vh;
        // background-color: #000;
    }
    .mobile-menu-visibility{
        display: none;
    }
    .mobile-nav-bar {
        #main-header-menu{
            width: 80vw;
            height: 80vh;
            display: flex;
            flex-direction: column;
            li{
                justify-self:center;
                align-self: center;
            }
        }
    }
    }  

    // Single Property Page
    .container-image-property-bg{
        width: 100vw;
        min-height: 500px;
    }
    
    .single-prop-heading{
        font-family:  $poppins-font-family , $san-serif-font;
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
    }
    .dev-community{
        max-width: 500px;
        span{
            font-family: $poppins-font-family;
            font-size: 18px;
            line-height : 24px;
            color: red;
        }
        .divider{
            position: relative;
            height: 30px;
            width: 10px;
            color: #000;
        }
    }
    .single-prop-pricetext{
        padding:  0 10px;
        color:#B9933F;
        font-size: 14px;
        font-family: $poppins-font-family;
    }
    .single-prop-priceval{
        color:#000;
        font-size: 18px;
        font-family: $poppins-font-family;
        padding: 10px;
    }